{% load static %}

<!DOCTYPE html>
<html>
<head>
    <!-- meta name ini berguna untuk menyesuaikan ukuran layar device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jsaon's Website</title>
    <link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <!-- header pembuka -->
    <div>
        <h2 align="center">Welcome to my website!</h2>
    </div>

    <hr/>
    <br/>

    <!-- foto profil + nama lengkap -->
    <div>
        <div>
            <div><img src="{% static 'img/pic1.jpg' %}" alt="pict error" class="rounded-circle" width="150"></div>
            <div class="text-black h3">Jaenhos Jsaon</div>
        </div>
    </div><br/>

    <!-- deskripsi diri -->
    <div>
        <div><b>About me :</b></div>
        <div>Second year student of Computer Science at Universitas Indonesia</div>
        <div>Passionate about psychology, mental development, and programming</div>
    </div><br/>

    <!-- NPM, angkatan, jurusan dan tempat berkuliah -->
    <div>
        <b>Profile :</b>
        <ul>
            <li>NPM 1906293120</li>
            <li>Maung 2019</li>
            <li>Computer Science, University of Indonesia</li>
        </ul>
    </div>

    <!-- hobi -->
    <div>
        <b>Hobbies :</b>
        <ul>
            <li>Gaming</li>
            <li>Sleep</li>
        </ul>
    </div>

    <!-- riwayat pendidikan -->
    <div>
        <div><b>Education :</b></div>
        <ul>
            <li>SMAN 13 Jakarta</li>
            <li>Universitas Indonesia</li>
        </ul>
    </div>

    <!-- media sosial -->
    <div>
        <div><b>You can find me at :</b></div>
        <div>
            <a href="https://www.instagram.com/knightrexyz/?hl=en" target="_blank">
            <span><img src="{% static 'img/ig-logo.png' %}" alt="pict error" width="25"></span>
            </a>
            <a href="https://www.linkedin.com/in/johanes-jason-155220195/" target="_blank">
            <span><img src="{% static 'img/linkedin-logo.png' %}" alt="pict error" width="25"></span>
            </a>
        </div>
    </div>


</body>
</html>
